<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:name="hello.world.MainApplication">
        <activity android:name="hello.world.MainActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>