<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:name="hello.world.MainApplication">
        <activity android:name="hello.world.MainActivity"
                  android:exported="true"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="vego-v3"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
